<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tasks List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }
    .card {
      margin: 20px 0;
    }
  </style>
</head>
<body>

  <div class="container">
    <h2 class="text-center mt-4">Available Tasks</h2>
    <div class="row">
        {% if tasks %}
            {% for task in tasks %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.task_id }}</h5>
                            <p class="card-text"><strong>Description:</strong> {{ task.description }}</p>
                            <p><strong>Deadline:</strong> {{ task.deadline }}</p>
                            <p><strong>Price:</strong> Kshs,{{ task.price }}</p>
                            {% if task.reference %}
                                <a href="{{ task.reference.url }}" class="btn btn-success" download>Download Reference</a>
                            {% endif %}
                            <a href="{% url 'accept_task' task.task_id %}" class="btn btn-primary">Accept Task</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No available tasks.</p>
        {% endif %}
    </div>
</div>


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
